body {
    background: #f3f6f7;
    font-family: 'Roboto', sans-serif;
}

.container-my {
    max-width: 1400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 100px;
}

.left-bar {
    height: 300px;
    position: sticky;
    top: 110px;
}

.left-bar-name {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-left: 5px;
}

.left-bar-icon {
    color: #666;
    font-size: 18px;
}

.left-bar-link {
    color: #222;
    text-decoration: none!important;
}

.left-bar-link:hover {
    background: rgba(0, 154, 97, 0.08);
    color: #666;
    text-decoration: none;
}

.nav-item:hover {
    background: rgba(0, 154, 97, 0.08);
    color: #666;
    text-decoration: none;
}

.rigth-bar-item {
    background: #fff;
}

.vote {
    color: #98afbc !important;
    cursor: pointer;
}

.title {
    color: #2d2d2d;
}

.title:hover {
    color: #2d2d2d;
}

.login-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    /* border-radius: .25rem;*/
}

.login-input {
    border-left: 0;
    border-radius: 0;
}

.main-bar {
    top: 30px;
}

.right-first {
    top: 30px;
    position: relative;
}

.right-second {
    height: 300px;
    position: sticky;
    top: 85px;
}

.post {
    background: #fff;
    box-shadow: 0 0.525rem 0.95rem rgba(250, 200, 0, .075)!important;
}

.logo {
    width: 180px;
    margin: 15px;
}

.avatar {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.avatar-mini {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bonus {
    object-fit: cover;
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
}

.link-cabinet {
    color: #000;
}

/* @media screen and (min-width: 768px) {
    .tabbar {
        display: none;
    }
    .headp {
        display: none;
    }
    .topbar {
        display: none;
    }
    .news-con {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .topbar-lg {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .topbar-lg {
        display: none;
    }
} */

.tabbar {
    background: rgb(0, 45, 77)!important;
    color: #fac800;
    height: 50px;
}

.topbar {
    background: rgb(0, 45, 77)!important;
    color: #fac800;
    height: 55px;
}

.tabbar a {
    color: #fac800;
}

.headp {
    color: #fac800;
}

.news {
    border-radius: 10px;
    overflow: hidden;
}

.merch-item img {
    border-radius: 10px;
    height: 120px;
    box-shadow: 1px 1px 3px 1px rgba(250, 200, 0, 0.12);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(250, 200, 0, 0.12);
    -moz-box-shadow: 1px 1px 3px 1px rgba(250, 200, 0, 0.12);
}

.search {
    background-color: #fff!important;
}

.icon-bottom {
    font-size: 22px;
}

.login .division .line.l {
    left: 0;
}

.login .division .line.r {
    right: 0;
}

.login .division span {
    color: #424242;
    font-size: 17px;
}

.social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

.circle .fa {
    font-size: 16px;
}

.facebook {
    background-color: #455CA8;
    color: #FFFFFF;
}

.google {
    background-color: #F74933;
}

.github {
    background-color: #403A3A;
}

/* footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/**********/

.news-img{
    object-fit: cover;
    width: 100%;
}